$white: #FFF;
$red: #D56362;
$green: #7CCCC5;
$blue: #2C7DBC;
$yellow: #EBD06E;
$black: #4C4C4C;
$gray: #909090;
$lightGray: #E8ECED;

body,
html {
  position: relative;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: $black;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-140deg, rgba(44,125,188,0.8) 15%, rgba(124,204,197,0.8) 70%), url('https://wallpapertag.com/wallpaper/full/4/4/5/270948-large-background-pictures-1920x1200.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background: $black;
  width: 100%;
  color: $gray;
  text-align: center;
  letter-spacing: 3px;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 640px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 640px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  & span {
    font-weight: 400;
  }
  @media screen and (max-width: 640px) {
    font-size: 14px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  & span {
    font-weight: 400;
  }
  @media screen and (max-width: 640px) {
    font-size: 12px;
  }
}

/* Top Angle */
.top_angle {
  width: 0;
  height: 0;
  border-color: transparent $white;
  border-style: solid solid solid dashed;
  border-width: 400px 0 0 0;
  border-right-width: 100vw;
  border-top-width: 10vh;
  pointer-events: none;
}

/* Bottom Angle */
.bottom_angle {
  width: 0;
  height: 0;
  border-color: transparent $white;
  border-style: solid solid solid dashed;
  border-width: 0 0 400px 0;
  border-left-width: 100vw;
  border-bottom-width: 10vh;
  pointer-events: none;
}

/* Angled Spacer */
.angled_spacer {
  height: 20vh;
  @media screen and (max-width: 640px) {
    height: 10vh;
  }
}

/* Content */
.content {
  position: relative;
  padding: 10vh 0;
  background: $white;
}

/* Sections */
.section {
  position: relative;
  margin: 40px auto 0;
  max-width: 920px;
  width: 90%;
  // outline: 1px solid red;
  @media screen and (max-width: 640px) {
    margin: 20px auto 0;
  }
}

/* Beaker */
.breaker {
  position: relative;
  max-width: 760px;
  width: 90%;
  height: 1px;
  margin: 160px auto;
  background: $green;
  @media screen and (max-width: 640px) {
    margin: 60px auto;
  }
}
