.bio {
  & h2 {
    color: $red;
    margin: 0 0 40px 0;
    @media screen and (max-width: 640px) {
      margin: 0 0 20px 0;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p:first-of-type {
      margin-top: 0;
    }
  }

  &__image {
    position: relative;
    width: 340px;
    height: 340px;
    margin: 0 0 0 40px;
    flex-shrink: 0;
    border-radius: 100%;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 840px) {
      display: none;
    }
  }
}
